<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>aysun karataş</title>
	<link rel="icon" type="image/png" href="computer-service.png"> 
</head>
<body>
	<h3>Lorem ipsum dolor sit amet.</h3>
	<p>Lorem ipsum, dolor sit amet.</p>
	<p>lorem8</p>
<p>
	This paragraph 
	contains a lot of spaces
	in the source coode but the browser 
</p>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, facere.</p>
<hr>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>Maxime, facere.</p>

<p style="color:red;">I am red</p>  <!--  this is inline css.  -->

<p><b>This text is bold.</b></p>
<p><i>This text is italic.</i></p>
<p>this is <sub> subscript </sub> and <sup> superscript </sup></p>

<p>do not forget to buy <mark>milk</mark> today.</p>
<blockquote>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, sunt?</blockquote> <dr>
<p>WWf'sgoal is to: <q> build a future where people live in harmony with nature. </q></p> <dr>
<a href="https://www.halic.edu.tr"> target="_blank">haliç üniversitesi </a> <dr>
<a href="https://www.halic.edu.tr">Haliç University</a> <dr>
<a href="contactPage.html">Contact</a> <dr>
<a href="functions/function.html">Functions</a> <dr>

<a href="mailto:someone@example.com">Send E-Mail</a>

<img src="computer.jpg.jpg" alt="computer">  
<img src="computer.jpg.jpg" alt="computer" width="500" height="600">
<img src="haliclogo.png" alt="Haliç Üniversity Logo" width="300" height="358"> 

<a href="https://www.halic.edu.tr"><img src="haliclogo.png" alt="Haliç Üniversity Logo" width="300" height="358"> </a>

<table>
	<tr>
		<th>Company</th>
		<th>contact</th>
		<th>country</th>
	</tr>
	<tr>
		<td>alfreds futterkiste</td>
		<td>maria anders</td>
		<td>germany</td>
	</tr>
	<tr>
		<td>centro comercial moctezuma</td>
		<td>francisco chang</td>
		<td>mexico</td>
	</tr>
<table>

<h2> an unordered HTML List</h2>
<ul>
	<li>coffee</li>
	<li>tea</li>
	<li>milk</li>
</ul>
<h2>
	an ordered HTML List
</h2>
<ol>
	<li>coffee</li>
	<li>tea</li>
	<li>milk</li>
</ol>
<div style="background-color: #FFF4A3;"><!--div block element-->
	<h2>london</h2>
	<p>london is the capital ity of england</p>
	<p>london has over <p style="color:blue;">13 million</p> inhabitants.</p>
	<p>london has over <span style="color:blue;">13 million</span> inhabitants.</p>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/WTV0wn2BCSA?si=12yl-kwYDNNkrvBb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>


<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfaedmQw3jeOA5bMJQyCju07c0_60zZtijefvLCGKbENVkD-w/viewform?embedded=true" width="640" height="453" frameborder="0" marginheight="0" marginwidth="0">Yükleniyor…</iframe><br>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3007.2294230492685!2d28.949627075862598!3d41.08583367133973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7ade6455895%3A0x8162d5a16546b5e2!2zSGFsacOnIMOcbml2ZXJzaXRlc2k!5e0!3m2!1str!2str!4v1727771755433!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</body>
</html>

